
.Signup {
  .inner {
    margin: {
        left: auto;
        right: auto;
    };
    padding: {
      top: 7%;
      bottom: 18.6%;
    }
    button {
    border-radius: 20px;
    font-size: 20px;
    padding: 8% 8% 5% 8%;
    margin-top:20px;
}

    text-align: center;
    width: max-content;
     h2 {
  text-align:center;
  }
  }
}
