@import "../../styles/variables";

.Directory {

  text-align: center;

  .Something {
    width:70%;
    margin-left:15%;
    padding:5px;

    .grid-container2 {
        display:inline-grid;
        grid-gap:10px;
        margin-top:0px;
        grid-template-columns:20% auto;
        padding:3% 3% 5% 3%;
        border:4px solid;
        border-color:#f4b53f;
        grid-template-rows:auto;
    } 

    .Something img {
      max-width:100%;
      height:auto;
      }
  }

  .item2 {
      text-align: left;
      margin-left:20%;
      margin-top: 5%;
  }

  .find {
    text-align:center;
    margin-bottom: 2%;
  }

  .name {
      padding-top: 15px;
      color: #a91e38;
      font-size:30px;
  }
  h2 {
      font-size: 20px;
      color: #808080;
  }

  .inner {
    padding: {
      top: map-get($spacing, "xl");
      bottom: map-get($spacing, "xl");
    }
  }
  .title {
    font: {
      weight: 500;
    }
    letter-spacing: 2px;
  }
  .subtitle {
    margin: {
      left: auto;
      right: auto;
      top: map-get($size, "lg");
      bottom: map-get($size, "lg");
    }
    max-width: 420px;
  }
  .buttons {
    justify-content: center;
  }
}