

.Footer {
    background-color: transparent;
    color: #a91e38;
    font-size: 10px;
    padding: {
        top: 10px;
        bottom: 20px;
    };

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}