

.Footer {
    background-color: transparent;
    color: #a91e38;
    font-family: Avenir;
    font-size: 15px;
    position: absolute;
  width: 100%;

    a {
            display: inline-block;
            margin-top:0px;
            padding: 0px 10px 0px 10px;
            }
    padding: {
        top: 0%;
        bottom:50px;
    };

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}