
$nav-height: 3rem;

.Navbar {
    background-color: #a91e38;
    color: #fade53;
    font-size: 20px;
    font-family:Transat Text;
    font-weight:500;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    img {
    width:7%;
    float:left;
    padding:10px;
    }

    .inner {
        align-items: center;
        display: flex;
        height: $nav-height;
        justify-content: space-between;
        

        a {
            display: inline-block;
            margin-top:10px;
            padding:0px 30px 0px 0px;
        }

        a:hover {
            color: #f4b53f;
        }
    }
    .home
    { align-items: center;
        display: flex;
        height: $nav-height;
        justify-content: left;
        

        a {
            display: inline-block;
            margin-top:3px;
            padding:30px
        }

        a:hover {
            color: #f4b53f;
        }}
}

.Navbar-Offset {
    height: $nav-height;
}