@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$nav-height: 3rem;

.Navbar {
    background-color: #a91e38;
    color: #fade53;
    font-size: 20px;
    font-family:"Lato";
    font-weight:600;

    position: fixed;
    top: 0;
    width: 102%;
    z-index: 1;

    .inner {
        align-items: center;
        display: flex;
        height: $nav-height;
        justify-content: space-between;
        

        a {
            display: inline-block;
            margin-top:0px;
            padding:0px 30px 0px 0px;
        }

        a:hover {
            color: #f4b53f;
        }
    }
    .home
    { align-items: center;
        display: flex;
        height: $nav-height;
        justify-content: center;
        

        a {
            display: inline-block;
            margin-top:3px;
            padding:30px
        }

        a:hover {
            color: #f4b53f;
        }}
}

.Navbar-Offset {
    height: $nav-height;
}