
.Signin {
  .inner {
    margin: {
        left: auto;
        right: auto;
    };
    padding: {
      top: 10%;
      bottom: 25%;
    }
    text-align: center;
    width: max-content;
    button {
      border-radius: 20px;
      font-size: 30px;
      padding: 10px 10px 10px 10px;
      margin-top:20px;
  }
  h2 {
  text-align:center;
  }

  }
}
