
.Signin {
  .inner {
    margin: {
        left: auto;
        right: auto;
    };
    padding: {
      top: 10%;
      bottom: 25%;
    }
    text-align: center;
    width: max-content;
    button {
    border-radius: 20px;
    font-size: 25px;
    padding: 8% 8% 5% 8%;
    margin-top:20px;
}
  h2 {
  text-align:center;
  }

  }
}
